<html>

    <head>
        <meta charset="utf-8">
    	<meta content="stuff, to, help, search, engines, not" name="keywords">
    	<meta content="What this page is about." name="description">
    	<meta content="Display Webcam Stream" name="title">

    	<title>Smart City System</title>

		<link rel="stylesheet" href="WebpageStyle3.css">
		<script src="/socket.io/socket.io.js"></script>
	</head>
	
	<body>
		<div id = "header">
			<div id = "title">
				<p>
					<h1>
						Smart Car Park Interface
					</h1>
				</p>		   
			</div>
		</div>

		<iframe class="menu" src="menu.html" style="width:100%; height:50px; border-style: none;"></iframe>

		<div id = "float">
			<p>
				<h1>
					Live Feed:
				</h1>
			</p>

			<!--<video autoplay="true" id="videoElement"></video>-->

			<p style="margin: 0px">
				<img id="base64img1">
			</p>
			
			<p style="margin-top: 5px">
				<img id="base64img2">
			</p>
		</div>
		<div>
			<p>
				<h1 style="padding-left: 30px;">
					Availible spaces: <span id="spaces"></span>
				</h1>
			</p>
		
			<table>
				<tr id="tr_a">
					<%
						if(btn1 == "Occupied")
						{
							%> <td id="td1" style="border-color:#07ff49; background-color: #1e7f38"></td> <%
						}
						else if (btn1 == "Unoccupied")
						{
							%> <td id="td1" style="border-color: red; background-color: #820000"></td> <%
						}
						else
						{
							%> <td id="td1" style="border-color: #ffd000; background-color: #9e740c"></td> <%
						}
					%>
					<%
						if(btn2 == "Occupied")
						{
							%> <td id="td2" style="border-color:#07ff49; background-color: #1e7f38"></td> <%
						}
						else if (btn2 == "Unoccupied")
						{
							%> <td id="td2" style="border-color: red; background-color: #820000"></td> <%
						}
						else
						{
							%> <td id="td2" style="border-color: #ffd000; background-color: #9e740c"></td> <%
						}
					%>
					<%
						if(btn3 == "Occupied")
						{
							%> <td id="td3" style="border-color:#07ff49; background-color: #1e7f38"></td> <%
						}
						else if (btn3 == "Unoccupied")
						{
							%> <td id="td3" style="border-color: red; background-color: #820000"></td> <%
						}
						else
						{
							%> <td id="td3" style="border-color: #ffd000; background-color: #9e740c"></td> <%
						}
					%>
				</tr>
				<tr id="tr_b" >
					<%
						if(btn1 == "Occupied")
						{ 
							%> <td id="td4" style="border-color:#07ff49; background-color: #1e7f38">Occupied</td> <% 
						}
						else if(btn1 == "Unoccupied")
						{
							%> <td id="td4" style="border-color: red; background-color: #820000">Unoccupied</td> <% 
						}
						else
						{
							%> <td id="td4" style="border-color: #ffd000; background-color: #9e740c">Obstructed</td> <%
						}
					%>
					<%
						if(btn2 == "Occupied")
						{	 
							%> <td id="td5" style="border-color:#07ff49; background-color: #1e7f38">Occupied</td> <% 
						}
						else if(btn2 == "Unoccupied")
						{
							%> <td id="td5" style="border-color: red; background-color: #820000">Unoccupied</td> <% 
						}
						else
						{
							%> <td id="td5" style="border-color: #ffd000; background-color: #9e740c">Obstructed</td> <%
						}
					%>
					<%
						if(btn3 == "Occupied")
						{ 
							%> <td id="td6" style="border-color:#07ff49; background-color: #1e7f38">Occupied</td> <% 
						}
						else if(btn3 == "Unoccupied")
						{
							%> <td id="td6" style="border-color: red; background-color: #820000">Unoccupied</td> <% 
						}
						else
						{
							%> <td id="td6" style="border-color: #ffd000; background-color: #9e740c">Obstructed</td> <%
						}
					%>
				</tr>
			</table>
			
			<table>
				<tr id="tr_c">
					<%
						if(btn4 == "Occupied")
						{
							%> <td id="td7" style="border-color:#07ff49; background-color: #1e7f38"></td> <%
						}
						else if (btn4 == "Unoccupied")
						{
							%> <td id="td7" style="border-color: red; background-color: #820000"></td> <%
						}
						else
						{
							%> <td id="td7" style="border-color: #ffd000; background-color: #9e740c"></td> <%
						}
					%>
					<%
						if(btn5 == "Occupied")
						{
							%> <td id="td8" style="border-color:#07ff49; background-color: #1e7f38"></td> <%
						}
						else if (btn5 == "Unoccupied")
						{
							%> <td id="td8" style="border-color: red; background-color: #820000"></td> <%
						}
						else
						{
							%> <td id="td8" style="border-color: #ffd000; background-color: #9e740c"></td> <%
						}
					%>
					<%
						if(btn6 == "Occupied")
						{
							%> <td id="td9" style="border-color:#07ff49; background-color: #1e7f38"></td> <%
						}
						else if (btn6 == "Unoccupied")
						{
							%> <td id="td9" style="border-color: red; background-color: #820000"></td> <%
						}
						else
						{
							%> <td id="td9" style="border-color: #ffd000; background-color: #9e740c"></td> <%
						}
					%>
				</tr>
				<tr id="tr_d" >
					<%
						if(btn4 == "Occupied")
						{ 
							%> <td id="td10" style="border-color:#07ff49; background-color: #1e7f38">Occupied</td> <% 
						}
						else if(btn4 == "Unoccupied")
						{
							%> <td id="td10" style="border-color: red; background-color: #820000">Unoccupied</td> <% 
						}
						else
						{
							%> <td id="td10" style="border-color: #ffd000; background-color: #9e740c">Obstructed</td> <%
						}
					%>
					<%
						if(btn5 == "Occupied")
						{	 
							%> <td id="td11" style="border-color:#07ff49; background-color: #1e7f38">Occupied</td> <% 
						}
						else if(btn5 == "Unoccupied")
						{
							%> <td id="td11" style="border-color: red; background-color: #820000">Unoccupied</td> <% 
						}
						else
						{
							%> <td id="td11" style="border-color: #ffd000; background-color: #9e740c">Obstructed</td> <%
						}
					%>
					<%
						if(btn6 == "Occupied")
						{ 
							%> <td id="td12" style="border-color:#07ff49; background-color: #1e7f38">Occupied</td> <% 
						}
						else if(btn6 == "Unoccupied")
						{
							%> <td id="td12" style="border-color: red; background-color: #820000">Unoccupied</td> <% 
						}
						else
						{
							%> <td id="td12" style="border-color: #ffd000; background-color: #9e740c">Obstructed</td> <%
						}
					%>
				</tr>
			</table>
		</div>
		
		<script src="WebpageCode3.js"></script>
	</body>
</html>